<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is a secure server, if you click on the following button your computer will explode...</p>
    <h4><a href="/html">Auto</a></h4>
  </body>
</html>
