<!DOCTYPE html>
<html>
  <head>
    <title>Create</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/html">Auto List</a></h3>
      <h1>Create</h1>
      <form action="/html/save" method="post">
        <table>
          <tbody>
            <tr>
              <td>ID Code</td>
              <td><input type="text" name="idcode" /></td>
            </tr>
            <tr>
              <td>From</td>
              <td><input type="text" name="from" /></td>
            </tr>
            <tr>
              <td>Location</td>
              <td><input type="text" name="location" /></td>
            </tr>
            <tr>
              <td>Serial</td>
              <td><input type="text" name="serial" /></td>
            </tr>
            <tr>
              <td>Brand</td>
              <td><input type="text" name="brand" /></td>
            </tr>
            <tr>
              <td>Product</td>
              <td><input type="text" name="product" /></td>
            </tr>
            <tr>
              <td>Version</td>
              <td><input type="text" name="version" /></td>
            </tr>
            <tr>
              <td>CPU</td>
              <td><input type="text" name="processor" /></td>
            </tr>
            <tr>
              <td>Ram</td>
              <td><input type="text" name="ramtotal" /></td>
            </tr>
            <tr>
              <td>Hdd</td>
              <td><input type="text" name="harddrive" /></td>
            </tr>
            <tr>
              <td>Notes</td>
              <td><input type="text" name="notes" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Save</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
