<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style>table {border-collapse: collapse;} th, td {border: 1px solid black;} th, td {padding: 5px;} tr:nth-child(even) {background: #CCC}</style>
  <body>
    <div class="container">
      <h3><a href="/html/">Index</a></h3>
      <h1>Product List</h1>
      <% if(productlist.length>0) { %>
      <table class="list-table">
        <tbody>
          <% for(var i=0; i<productlist.length;i++) { %>
            <tr>
              <td><a color=black href="/html/product/<%= productlist[i]%>"><%= productlist[i]%></a></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>Nothing found.</div>
      <% } %>
    </div>
  </body>
</html>
